extends: default

rules:
  line-length:
    max: 140
    level: error
  comments:
    min-spaces-from-content: 1
  document-start:
    present: true
  truthy:
    allowed-values: ['true', 'false', 'on']
